.coin_page__container{
    display: flex;
  
}
.go-back{
  
        background-color: #fff;
        color: #000;
        position: absolute;
        top: 18%;
        left: 10%;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

      
      
}
.flex-column {
    max-width: 600px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 100px auto 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  .details_listing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff20;
    width: 100%;
    padding: 10px 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  @media (max-width: 768px) {
    .go-back{
  
        background-color: #fff;
        color: #000;
        position: absolute;
        top: 12%;
        left: 6%;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

      
      
}
  }
  