.search__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 2px;
    background-color: white;
    min-width: 360px;
    border-radius:5px;
}
.search__input{
    border: none;
    outline: none;
    width: 80%;
    height: 100%;
    background-color: white;
    padding: auto;
    font-size: 14px;
    font-weight: 500;
    
}
.search__btn{
    background-color: #8542F1;
    color: #fff;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 20%;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}